body {
	background-image: url("/img/hex_bg.png");
}

a {
	color: #800040;
}

#header {
	color: black;
	border-color: #ebebfa;
	background-color: #c2c2f0;
}

img#nav-pp {
	border-color: #ebebfa;
}

button.theme {
	color: black;
	background-color: #7070db;
	border-color: #ebebfa;
}

#intro {
	background-color : #9999e6;
	border-color: #ebebfa;
}

#content {
	color: black;
}

#project-post {
	background-color: #7070db;
	border-color: #ebebfa;
}

#main-content {
	background-color: #7070db;
	border-color: #ebebfa;
}

a#project-title {
	color: black;
	text-shadow: 1px 1px 3px #0f0f3d;
}

img#project-image {
	border-color: #ebebfa;
}

ul#project-tags > li {
	background-color: #8585e0;
	border-color: #ebebfa;
}

footer {
	color: black;
	border-color: #ebebfa;
	background-color: #c2c2f0;
}
