html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
}
@media (max-width: 1110px) {
	body {
		font-size: 2em;
	}
}

header {
	border-bottom-style: solid;
	padding: 10px;
	box-sizing: border-box;
}

img#nav-pp {
	border-style: solid;
	border-radius: 75px;
	width: 150px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

#nav-title {
	text-align: center;
	font-size: 2em;
}

button.theme {
	padding: 8px;
	border-style: solid;
	border-radius: 5px;
}

ul#nav-links {
	list-style-type: none;
	text-align: right;
}

ul#nav-links > li {
	font-size: 1.2em;
	display: inline;
	margin: 10px;
}

#intro {
	border-style: solid;
	border-radius: 50px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}

#content {
	padding: 5px;
}

#intro {
	padding: 15px;
	text-align: center;
}

#projects {
	display: grid;
	grid-template-columns: auto auto;
}
@media (max-width: 1110px) {
	#projects {
		display: block;
	}
}

#project-post {
	padding: 5px;
	margin: 3px;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
}

#main-content {
	padding: 20px;
	margin: 3px;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
}

#main-content > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: solid;
	border-width: 3px;
	border-radius: 20px;
}

h2#project-title {
	margin-left: 10px;
	font-weight: bold;
}

a#project-title {
	text-decoration: none;
}

#project-description {
	display: grid;
	grid-template-columns: auto auto;
}

img#project-image {
	width: 150px;
	height: 150px;
	margin-right: 10px;
	margin-left: 10px;
	border-style: solid;
	border-radius: 15px;
}

#project-description > p {
	margin: 10px;
}

ul#project-tags {
	list-style-type: none;
	margin: 5px;
	padding: 3px;
	text-align: right;
}

ul#project-tags > li {
	display: inline;
	padding: 3px;
	border-style: solid;
	border-width: 2px;
	border-radius: 7px;
}

#main-content > h2 {
	margin: auto;
	max-width: max-content;
}

#main-content > #paragraph-with-figure {
	display: grid;
	grid-template-columns: auto auto;
}
@media (max-width: 1110px) {
	#main-content > #paragraph-with-figure {
		display: block;
	}
}

#main-content > #paragraph-with-figure > * {
	margin-top: auto;
	margin-bottom: auto;
}
@media (max-width: 1110px) {
	#main-content > #paragraph-with-figure > * {
		margin: auto;
	}
}

#main-content > #paragraph-with-figure > .first {
	margin-right: 10px;
}
@media (max-width: 1110px) {
	#main-content > #paragraph-with-figure > .first {
		max-width: max-content;
		margin: auto;
	}
}

#main-content > #paragraph-with-figure > .second {
	margin-left: 10px;
}
@media (max-width: 1110px) {
	#main-content > #paragraph-with-figure > .second {
		max-width: max-content;
		margin: auto;
	}
}

#main-content > #three-columns {
	display: grid;
	grid-template-columns: auto auto auto;
}
@media (max-width: 1110px) {
	#main-content > #three-columns {
		display: block;
	}
}

#main-content > #three-columns > * {
	margin-top: auto;
	margin-bottom: auto;
}
@media (max-width: 1110px) {
	#main-content > #three-columns > * {
		margin: auto;
	}
}

#main-content > #three-columns > .first {
	margin-right: 10px;
}
@media (max-width: 1110px) {
	#main-content > #three-columns > .first {
		max-width: max-content;
		margin: auto;
	}
}

#main-content > #three-columns > .second {
	margin-right: 10px;
	margin-left: 10px;
}
@media (max-width: 1110px) {
	#main-content > #three-columns > .second {
		max-width: max-content;
		margin: auto;
	}
}
#main-content > #three-columns > .third {
	margin-left: 10px;
}
@media (max-width: 1110px) {
	#main-content > #three-columns > .third {
		max-width: max-content;
		margin: auto;
	}
}

.slider {
	width: 100%;
}
@media (max-width: 1110px) {
	.slider{
		height: 50px;
		background: none;
	}
}

.slider::-webkit-slider-thumb {
}
@media (max-width: 1110px) {
	.slider::-webkit-slider-thumb {
		height: 50px;
		width: 50px;
		border-radius: 100%;
	}
}

.slider::-moz-range-thumb {
	height: 50px;
	width: 50px;
}
@media (max-width: 1110px) {
	.slider::-moz-range-thumb {
		height: 50px;
		width: 50px;
		border-radius: 100%;
	}
}

#main-content .figure {
	padding: 10px;
	max-width: 10rem;
	border-style: solid;
	border-width: 2px;
	border-radius: 7px;
	margin: auto;
}
@media (max-width: 1110px) {
	#main-content .figure {
		max-width : 30rem;
		width: 30rem;
	}
}

g text {
	text-anchor: middle;
	font-size: 3em;
}
@media (max-width: 1110px) {
	g text {
		font-size : 2em;
	}
}

g text#smaller {
	font-size: 2em;
}
@media (max-width: 1110px) {
	g text#smaller {
		font-size : 1em;
	}
}

em#blue {
	color: grey;
}
em#red {
	color: red;
}
em#green {
	color: green;
}

footer {
	border-top-style: solid;
	margin-top: auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	bottom: 0;
}
