<!doctype HTML>
<html>
	<head>
		<title>Biome | MadEwink portfolio</title>
		{% include links.html %}
		<script src="/js/theme.js"></script>
		<script src="/js/animations.js"></script>
	</head>
	<body onload=setStyleFromCookie()>
		{% include header.html %}
		<div id="content">
			<div id="intro">
				<h2>Biome</h2>
				<p>Biome is a prototype 3D-roguelike made in C# with Unity, done as a school project over a semester. I worked on the procedural terrain and objects generation.</p>
			</div>
			<div id="project-page">
				<h2>Introduction</h2>
				<p>Paragraph</p>
				<h2>Tiles</h2>
				<p>Describe tiles</p>
				<input type="range" min="0" max="2" value="2" class="slider" id="one-tile-slider" onInput="testAnimate()">
				<div class="figure" id="one-tile">
					<svg viewBox="-400 -500 800 1000">
						<g fill="white" stroke="black">
							<g id="center-hex">
								<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
							</g>
							<g id="first-ring" opacity="1">
								<g transform="translate(0,-200)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-150,-100)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-150,100)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(0,200)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(150,100)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(150,-100)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
							</g>
							<g id="second-ring" opacity="1">
								<g transform="translate(0,-400)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-150,-300)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-300,-200)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-300,0)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-300,200)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(-150,300)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(0,400)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(150,300)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(300,200)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(300,0)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(300,-200)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
								<g transform="translate(150,-300)">
									<polygon points="100,0 50,100 -50,100 -100,0 -50,-100 50,-100"></polygon>
								</g>
							</g>
						</g>
					</svg>
				</div>

			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
