<!doctype HTML>
<html>
	<head>
		<title>Biome | MadEwink portfolio</title>
		{% include links.html %}
		<script src="/js/theme.js"></script>
		<script src="/js/animations.js"></script>
	</head>
	<body onload=setStyleFromCookie()>
		{% include header.html %}
		<div id="content">
			<div id="intro">
				<h2>Biome</h2>
				<p>Biome is a prototype 3D-roguelike made in C# with Unity, done as a school project over a semester. I worked on the procedural terrain and objects generation.</p>
			</div>
			<div id="project-page">
				<h2>Introduction</h2>
				<p>Paragraph</p>
				<h2>Tiles</h2>
				<p>Describe tiles</p>
				<input type="range" min="0" max="2" value="2" class="slider" id="one-tile-slider" onInput="testAnimate()">
				{% include biome/one_tile.html %}
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
