		<div id="header">
			<div id ="nav">
				<a href="/"><img id="nav-pp" src="/img/pp.png" alt="Profile picture"></a>
				<br/>
				<div id="nav-title">MadEwink's projects</div>
				<ul id="nav-links">
					<li><a href="https://github.com/MadEwink">Github</a></li>
					<li><a href="https://gitlab.com/MadEwink">Gitlab</a></li>
					<li><a href="https://framagit.org/MadEwink">Framagit</a></li>
				</ul>
				<button class="theme" id="light-theme-button" style="display:none" onClick="setLightTheme()">Switch to light theme</button>
				<button class="theme" id="dark-theme-button" style="display:none" onClick="setDarkTheme()">Switch to dark theme</button>
			</div>
		</div>
